lark==1.2.2
bloqade==0.22.5

# this is problematic
pyqrack
bloqade.pyqrack

# for visualization
matplotlib
pydantic<2.0 # pydantic 2.0 is not compatible with bloqade

cirq
ply

qiskit==1.1.1
qiskit-aer==0.15.1

pylatexenc